:root{
    --buttons-bg:#31c224;
    --buttons-cl:#fff;
    --text-cl:#000;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%,870px);
    margin-left: auto;
    margin-right: auto;
}

.app__title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation: tracking-in-expand 0.7s
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


.app__title,
.app__section,
.visual_section{
    width: min(100%,700px);
}

.appSay{
    max-width: 300px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    padding: 4px;
    background-color: var(--buttons-cl);
    border:1px solid #f00;
    border-radius: 5px;
    -webkit-animation: bounce-top 0.9s both;
	animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }


.hidden{
    display: none;
}

.formulario{
    max-width: 100%;
    padding: 1em;
    margin-top: 1.2rem;
    box-shadow: 0 0 5px #0004;
    background:#fff;
    opacity: .9;
}


.formulario__label{
    color: var(--text-cl);
    display: block;
}

.formulario__inp{
    outline: none;
    width: 95%;
    margin: 10px 0 10px 0;
    height: 1.8rem;
    border:1px solid #000;
    color: #000a;
    border-radius: 5px;
}

.formulario__inp::placeholder{
    color: #0003;
}

.formulario__btn{
    padding: .5em;
    cursor: pointer;
    border:1px solid #000;
    color: var(--buttons-cl);
    border-radius: 3px;
    background-color: var(--buttons-bg);
}


.visual-container{
    display: flex;
    justify-content: space-between;
    margin-top: .3rem;
    box-shadow: 0 0 5px #0002;
}

.visual__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .7em 5px;
}

.visual__title{
    line-height: 0;
    color:var(--text-cl)
}

.visual__img{
    width: 80px;
    /* filter: drop-shadow(1px 1px 1px #9733EE); */
}

.visual__span{
    font-size: 2rem;
    font-weight: 700;
    color:var(--text-cl);
}

.list-container{
    width: min(100%,700px);
}

.list{
    width: 100%;
    list-style: none;
    padding-left: 0;
}



.li_item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0 0 5px #0004;
    padding: 5px 8px;
    background-color:var(--buttons-cl);
    color: var(--text-cl);
    animation: swing-in-top-fwd 0.7s
}
 
@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  

.list__span{
    width: 20%;
}

.list__btn{
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px #0005;
    cursor: pointer;

}

.list__img{
    width: 1.2em;
    height: 1.2em;
}

@media screen and (max-width:1300px){
    .app__title{
        width: 100%;
    }

}

@media screen and (max-width:450px){
    .visual__card{
        width: 35%;
    }

    .visual__title{
        font-size: .9rem;
    }

    .visual__img{
        width: 40px;
    }

    .visual__span{
        font-size: 1rem;
    }

    .list__img{
        width: .8em;
        height: .8em;
    }
}