:root{
    --buttons-bg:#363636;
    --buttons-cl:#979797;
    --text-cl:#969696;
    --linear-bg: linear-gradient(to right,#711F8D,#A818DA);
    --bg-cl:#282828;
    --form-cl:#363636;
    --body-bg:#00564d;
    --invalid-color:#00897b;
}

*{
    box-sizing: border-box;
}

body{
    font-family:'Arial Narrow Bold', sans-serif;
    margin: 0;
    background-color: var(--body-bg);
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%,870px);
    margin-left: auto;
    margin-right: auto;
}

.app__title{
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-cl);
    background-color: var(--bg-cl);
    padding: .3rem;
}




/* .app__title, */
.app__section,
.visual_section{
    width: min(100%,700px);
}

.appSay{
    max-width: 300px;
    font-size: 1.2rem;
    /* text-align: center; */
    font-weight: bold;
    margin-top: 10px;
    padding: 2px;
    background-color: var(--invalid-color);
    /* border:1px solid #f00; */
    color: var(--buttons-bg);
    border-radius: 5px;
    -webkit-animation: bounce-top 0.9s both;
	  animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }


.hidden{
    display: none;
}

.formulario{
    max-width: 100%;
    padding: 1em;
    /* margin-top: 1.2rem; */
    box-shadow: 0 0 5px #0004;
    background-color: var(--bg-cl);
    opacity: .9;
}


.formulario__label{
    color: var(--text-cl);
    display: block;
    /* margin: 1rem 0 .8rem; */
}

.formulario__inp{
    outline: none;
    width: 95%;
    margin: 10px 0 10px 0;
    height: 1.8rem;
    border:1px solid #000;
    color: var(--form-cl);
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1em .3em;
}

.formulario__inp::placeholder{
    color: #0003;
}

.formulario__btn{
    padding: .7em;
    cursor: pointer;
    color: var(--buttons-cl);
    border-radius: 3px;
    background-color: var(--buttons-bg);
}


.visual-container{
    display: flex;
    justify-content: space-between;
    margin-top: .3rem;
    box-shadow: 0 0 5px #0002;
    background-color: var(--bg-cl);
}

.visual__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1em 0;
}

.visual__title{
    line-height: 0;
    color:var(--text-cl)
}

.visual__span{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    color:var(--text-cl);
}

.list-container{
    width: min(100%,700px);
}

.list-container__title{
  background-color: var(--bg-cl);
  width: max-content;
  padding: .3em .4em;
  color:var(--text-cl);
}

.list{
    width: 100%;
    list-style: none;
    padding-left: 0;
}



.li_item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0 0 5px #0004;
    padding: 5px 8px;
    background-color: var(--bg-cl);
    color: var(--text-cl);
    animation: swing-in-top-fwd 0.7s;
}
 
@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  

.list__span{
    width: 20%;
  }
  
  .list__btn{
    background-color: var(--buttons-bg);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px #0005;
    cursor: pointer;
    padding: .2em .4em ;
  }
  
  .list__img{
    width: 1.2em;
    height: 1.2em;
    filter: invert(100%);
}

.deleteModal{
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0004;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  width: 250px;
  height: 150px;
  padding: 1rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modal__btns{
  display: flex;
  justify-content: space-around;
}

.modal__btns button{
  width: 35%;
  cursor: pointer;
}

.modal__btns button:hover{
  transform: scale(1.1);
  transition: transform .2s;
}

/* media queries */

@media screen and (max-width:450px){
    .visual__card{
        width: 35%;
    }

    .visual__title{
        font-size: .9rem;
    }

    .visual__span{
        font-size: 1rem;
    }

    .list__img{
        width: .8em;
        height: .8em;
    }
}
